*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-button-next{
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    top: auto;
    left: 48%;
    animation: aa 3s infinite linear;
    
}
@keyframes aa{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    50%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 0;
    }
}
.music .t1{
    width: 10%;
    height: 6%;
    position: absolute;
     z-index: 100;
    top: 5%;
    left: 87%;
    animation: music 1s infinite linear;
}
@keyframes music{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}
.swiper-slide{
    background-image: url(../img/bj.png);
    background-size: 100% 100%;
    animation: bc 0.6s infinite linear;
    animation-iteration-count:1;
}
@keyframes bc{
    0%{
        background-size: 130% 130%;
        background-position:center center;
    }
    100%{
        background-size: 100% 100%;
        background-position:center center;
    }
}
.pp{
    color:#f3ba75;
    position: absolute;
    top: 75%;
    left: 38%;
}
.p1{
    color: #f3ba75;
    position: absolute;
    top: 80%;
    left: 37%;
}
.p2{
    color:#f3ba75;
    position: absolute;
    top: 85%;
    left: 37%;
}

.k{
    width: 30%;
    height: 50%;
    position: absolute;
    top: 20%;
    left: 20%;
}
.kb{
    width: 30%;
    height: 20%;
    position: absolute;
    top: 53.5%;
    left: 20%;
}
.k1{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    
}
.p3{
    color: #f0c486;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 14%;
    left: 31.5%;
}
.bk{
    width: 102%;
    height: 95%;
    position: absolute;
    top: 3%;
    left: 2%;;
}
.y{
    width: 18%;
    height: 15%;
    position: absolute;
    top: 22%;
    left: 27%;
}
.q{
    width: 18%;
    height: 15%;
    position: absolute;
    top: 35%;
    left: 27%;
}
.h{
    width: 18%;
    height: 15%;
    position: absolute;
    top: 50%;
    left: 27%;
}
.r{
     width: 40%;
    height: 40%;
    position: absolute;
    top: 25%;
    right:0%;
}
.in{
    color: #f0c486;
    width: 60%;
    height: 6%;
    position: absolute;
    top: 30%;
    left: 20%;
    border-radius: 10px;
    background-color:#000; opacity:0.5;filter:alpha(opacity=50);
}
.in1{
    color: #f0c486;
    width: 60%;
    height: 6%;
    position: absolute;
    top: 42%;
    left: 20%;
    border-radius: 10px;
    background-color:#000; opacity:0.5;filter:alpha(opacity=50);
}
.in2{
    color: #f0c486;
    width: 60%;
    height:6%;
    position: absolute;
    top: 54%;
    left: 20%;
    border-radius: 10px;
    background-color:#000; opacity:0.5;filter:alpha(opacity=50);
}
.in3{
    color: #f0c486;
    width: 60%;
    height:6%;
    position: absolute;
    top: 66%;
    left: 20%;
    border-radius: 10px;
    background-color:#000; opacity:0.5;filter:alpha(opacity=50);
}
.bc{
    margin-left: -30%;
    margin-top: -25%;
}
.bc1{
    margin-left:20%;
    margin-top: -25%;
}
.bc11{
    width: 100%;
    height: 100%;
}
.p4{
    width: 58%;
   line-height: 25px;
    color: #f0c486;
    position: absolute;
    top:55%;
    left: 20%;
    text-align: center;
}
.p5{
    width: 58%;
   line-height: 30px;
    color: #f0c486;
position: absolute;
    top:20%;
    left: 10%;
    text-align: center;
}
.p6{
    font-size: 16px;
    width: 58%;
   line-height: 25px;
    color: #f0c486;
position: absolute;
    top:26%;
    left: 20%;
    text-align: center;
}
.p7{
   line-height: 30px;
    color: #f0c486;
position: absolute;
    top:75%;
    right:20%;
    text-align: center;
}
.p8{
   line-height: 30px;
    color: #f0c486;
    position: absolute;
    top:80%;
    right:20%;
    text-align: center;
}


.q1{
    color: #f0c486;
    position: absolute;
    top:22%;
    left:20%;
   
}
.q2{
    color: #f0c486;
    position: absolute;
    top:30%;
    left:20%;
   
}
.q3{
    color: #f0c486;
    position: absolute;
    top:38%;
    left:17.5%;
   
}
.q4{
    color: #f0c486;
    position: absolute;
    top:46%;
    left:15%;
   
}
.q5{
    color: #f0c486;
    position: absolute;
    top:54%;
    left:15%;
   
}
.q6{
    color: #f0c486;
    position: absolute;
    top:62%;
    left:15%;
   
}
.q7{
    color: #f0c486;
    position: absolute;
    top:70%;
    left:15%;
   
}
.q8{
    color: #f0c486;
    position: absolute;
    top:78%;
    left:15%;
   
}
.z1{
    width: 6%;
    height: 4%;
     position: absolute;
    top:21.5%;
    left:48%;
}
.z2{
    width: 6%;
    height: 4%;
     position: absolute;
    top:29.5%;
    left:48%;
}
.z3{
    width: 6%;
    height: 4%;
     position: absolute;
    top:37.5%;
    left:48%;
}
.z4{
    width: 6%;
    height: 4%;
     position: absolute;
    top:45.5%;
    left:48%;
}
.z5{
    width: 6%;
    height: 4%;
     position: absolute;
    top:53.5%;
    left:48%;
}
.z6{
    width: 6%;
    height: 4%;
     position: absolute;
    top:61.5%;
    left:48%;
}
.z7{
    width: 6%;
    height: 4%;
     position: absolute;
    top:69.5%;
    left:48%;
}
.z8{
    width: 6%;
    height: 4%;
     position: absolute;
    top:77.5%;
    left:48%;
}
.q11{
    color: #f0c486;
    position: absolute;
    top:21.5%;
    right:23.5%;
   
}
.q22{
    color: #f0c486;
    position: absolute;
    top:29.5%;
    right:33.5%;
   
}
.q33{
    color: #f0c486;
    position: absolute;
    top:37.5%;
    right:33.5%;
   
}
.q44{
    color: #f0c486;
    position: absolute;
    top:45.5%;
    right:23.5%;
   
}
.q55{
    color: #f0c486;
    position: absolute;
    top:53.5%;
    right:23.5%;
   
}
.q66{
    color: #f0c486;
    position: absolute;
    top:61.5%;
    right:33.5%;
   
}
.q77{
    color: #f0c486;
    position: absolute;
    top:69.5%;
    right:33.5%;
   
}
.q88{
    color: #f0c486;
    position: absolute;
    top:77.5%;
    right:33.5%;
   
}
.a2{
    width:60%;
    height: 50%;
    position: absolute;
    top: -15%;
    left: -20%;
}
.xx{
    width: 55%;
    height: 30%;
    position: absolute;
    top: 22%;
    left: 22%;
}
#music #img1{
    
        position: absolute;
        z-index: 100;
        top: 3%;
        right: 3%;
        width: 10%;
        animation: bb 2s linear infinite;
      
}
@keyframes bb{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}
