*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
}
body{
    font-family: : "Microsoft YaHei",Arial,Helvetica,sans-serif;
 font-size: 0.12rem;
    color: #000;
}
input{
    outline: none;
}
button{
    border: none;
     outline: none;
}
/*公共样式*/
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clearfix::before,
.clearfix::after{
    content:'';
    clear: both;
    display: table;
}